<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - DemoWebApi Sonar way" ToolsVersion="14.0">
  <Include Path="..\.sonarlint\demowebapicsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>