<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      autoReload="true"
      internalLogFile="..\..\..\Logs\nlog-app.log">
  
  <targets>
    <!-- file targets -->
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity} ${exception:format=tostring}"/>
    </target>

    <!-- database targets -->
    <target name="database" xsi:type="Database" keepConnection="true" useTransactions="true"
             >
      <dbProvider>
        Npgsql.NpgsqlConnection,Npgsql,Version=4.0.2.0,Culture=neutral,PublicKeyToken=5d8b90d52f46fda7
      </dbProvider>
      <connectionString>
        Server=127.0.0.1;Port=5432;User Id=postgres;Password=#ext123;Database=WebDataLog;
        
      </connectionString>
      <commandText>
        INSERT INTO public."Logs"("EventDateTime", "EventLevel", "UserName", "EventMessage", "ErrorMessage", "InnerErrorMessage") VALUES (CAST(@EventDateTime AS timestamp), @EventLevel, @UserName, @EventMessage, @ErrorMessage, @InnerErrorMessage)
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@UserName" layout="${aspnet-user-identity}" />
      <parameter name="@EventMessage" layout="${message}" />
      <!--<parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />-->
      <parameter name="@ErrorMessage" layout="${exception}" />
      <parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Warn" writeTo="asyncFile,database" />
  </rules>
</nlog>  